
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Divvy - Venn Demo</title>

  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />
  <link rel="stylesheet" href="css/styles.css" type="text/css" />
  <script>
    var monthNames = [ "January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December" ];
    var weekday = new Array(7);
    weekday[0]=  "Sunday";
    weekday[1] = "Monday";
    weekday[2] = "Tuesday";
    weekday[3] = "Wednesday";
    weekday[4] = "Thursday";
    weekday[5] = "Friday";
    weekday[6] = "Saturday";
  </script>
  
  <link href="css/hopscotch.min.css" rel="stylesheet"></link>
  <script src="js/hopscotch.js"></script>
  <script src="js/main-tour.js"></script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <header>
          <div id="logo">
            <a href="/"><img src="images/logo.png" alt="Divvy Logo"></a>
          </div>
        </header><!-- header -->
        <div id="user-info">
          <p>Sam the Seamstress</p>
          <img class="avatar" src="images/nessie_headshot.png" style="width: 64px; height: 64px; border-radius: 10px; margin-bottom: 10px;" />
          <a class="btn btn-primary">MY POSTS</a> <a class="btn btn-primary" href="account.html"><i class="fa fa-pencil fa-lg"></i></a> 
        </div>

<!--         <% } else { %>
        <div class="user-forms">
          <button id="sign-up-toggle" class="btn btn-primary">SIGN UP</button>
          <button id="sign-in-toggle" class="btn btn-primary">LOG IN</button>
        </div>
        <% } %> -->
      </div><!-- end col-lg-2 -->

      <div class="col-lg-8">


        <div class="post">
          <div class="row">
            <div class="col-lg-2">
              <img class="avatar" src="images/nessie_headshot.png" style="width: 100px; height: 100px;" />
            </div>
            <div class="col-lg-8">
              <div id="clickable-post">
                <h1>Fixing Old Go Carts</h1>
                <h3 class="task">"I can fix just about any go cart. I love go carts. I've been repairing go carts for over 16 years now and have never been happier. The smell of the fuel, the scretching of the rubber; go carts are awesome. There is nothing better than keeping them running smoothly."</h3>

                <br /><br />
                <p class="poster">Submitted by: <a href="/user/<%= post._poster %>">Felix the Repairman</a></span></p>
                <div class="col-lg-2 bounty">
                  <p>1,300</p>
                  <p>Points</p>
                </div><!-- end bounty -->
                <div class = "row">
                </div>

              </div>
            </div><!-- end row -->
          </div><!-- end post -->

          <div id="venn-picktimes" class="venn"></div>

        </div>

      </div><!-- end row -->


    </div><!-- end container -->
    <footer>
      <img src="images/nessie.png" />
    </footer>

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>

    <script>
      config = {
        apikey: "c674be576f9aac9ad9a0207e",
        userid: "SLDKJFLDSLKJFDS32423423",
        authoruserid: "KDSJKDSLJFDS0980990890833",
        txnid: "KLJSD20384lKHJDJKFSHJD",
        addresses: [
        "7875 Montgomery Rd Cincinnati, OH 45236",
        "1411 Vine St. Cincinnati, OH 45202",
        "45040"
        ]
      }
      function vennLoaded(){
        /* anything you want to do after widget has loaded */
      };
      /*do no edit anything below this line*/
      var script = document.createElement('script'); script.onload = function() {Venn.init(function() {Venn.api('pickmeetup.js', { userid: config.userid, apiKey: config.apikey, authoruserid: config.authoruserid, addresses: config.addresses, txnid: config.txnid }, "GET", function(response) {document.getElementById('venn-picktimes').innerHTML = response.data; Venn.picktimesLoaded(); vennLoaded();  Venn.setCoords(config.addresses);  }); }); }; script.src = "//api.getvenn.io/v0.1/sdk.js?userid="+config.userid+"&apikey="+config.apikey+"&txnid="+config.txnid+"&authoruserid="+config.authoruserid; document.getElementsByTagName('head')[0].appendChild(script);
    </script>
  </body>
  </html>
